form {
	padding: 20px 0;
	position: relative;
    z-index: 2;
    
   
}

*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	
    font-weight: 300;
   
  
    
}
.container{
    margin: 0 auto;
	padding: 80px 0;
	height: 500px;
    text-align: center;
    border-radius: 1rem;
    border: solid;
    width: 80%;
   background-image: url('../../assets/PetProfil_1.jpg');
}
	
.container h1{
    font-size: 70px;
    margin: 7px;
    transition-duration: 1s;
    transition-timing-function: ease-in-put;
    font-weight: 200;
    color: white;
}

@media (max-width: 499px){

    .container{
        background-position: top;
        background-repeat: no-repeat;
        
    }
    .container h1{
        padding: 10px;
        font-size: 50px;
    }




}

.container button{
    appearance: none;
    outline: 0;
    background-color: white;
    border: 0;
    padding: 10px 15px;
    color: #50a3a2 ;
    border-radius: 3px;
    width: 250px;
    cursor: pointer;
    font-size: 18px;
    transition-duration: 0.25s;
}

.container button:hover{
    background-color: rgb(245, 247, 249);
}
.register-button{

    appearance: none;
    outline: 0;
    background-color: green;
    border: 0;
    padding: 10px 15px;
    color: blue ;
    border-radius: 3px;
    width: 500px;
    cursor: pointer;
    font-size: 18px;
    transition-duration: 0.25s;

}