.gameboard {
  background-color: yellow;
  display: flex;
  height: 100vh;
  width: 100%;
  cursor: pointer;
}
.gameboard-target {
  background: green;
  display: flex;
  height: 100vh;
  width: 100%;
  cursor: pointer;
}

.gameboard-board {
  background: red;
  display: flex;
  height: 100vh;
  width: 100%;
  cursor: pointer;
}
