.header-item {
  color: rosybrown;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  height: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: 10px;
  vertical-align: middle;
  font-weight: 700;
  font-size: 30pt;
  text-shadow: 0.7px 0.7px 1.8px pink;

  cursor: pointer;
}

.header-item:hover {
  color: rosybrown;
}
