.navbar {
  background-color: #443c3c;
  line-height: 3rem;
  overflow: hidden;
  width: 100%;
  border: 1rem solid transparent;
}

.nav0 {
  color: #ccc;
  text-align: right;
  font-weight: 100;
  text-align: right;
  font-size: 2rem;
}
.nav0:hover {
  color: white;
}

.nav2 {
  color: rosybrown;
  font-weight: 100;
  font-size: 2rem;
}

.nav2:hover {
  color: pink;
}
